.image-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-auto-rows: 300px;
    gap: 2rem;
    margin: 5% 10%;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 1s;
    border-radius: 5px;
}
.image-box img:hover{
    transform: translateY(-20px);
}